@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotateBack {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate {
  animation: rotate 0.3s ease-in-out;
}

.rotateBack {
  animation: rotateBack 0.3s ease-in-out;
}
